<hr class="my-4">

<h3> All micro credentials associated to this question:</h3>
<% if @course.nil? or @course.micro_credentials.empty? %>
  <p><small>Empty</small></p>
<% else %>
  <ul>
    <% for micro_credential  in @question.micro_credentials %>
      <li>
        <%= micro_credential.identifier%>: <%= micro_credential.title%>
        <%= link_to "dissociate",questions_dissociate_micro_credentials_path(:id => @question.id, :micro_credential_id => micro_credential.id), method: :post %>
      </li>
    <% end %>
  </ul>
<% end %>

<%if not @course.nil? %>
  <hr class="my-4">
  <h3> Micro credentials available to be added to this questions</h3>
  <% if @course.micro_credentials.empty? %>
    <p><small>Empty. Please make sure this question is associated to a course, and there are micro_credentials required by this course.</small></p>
  <% else %>

    <%= form_tag :controller => 'questions', :action => 'associate_micro_credentials', :method => 'post' do %>
      <%= hidden_field_tag(:id , @question.id) %>

      <% for micro_credential in @course.micro_credentials %>
        <ul>
          <li>
            <%= check_box_tag 'micro_credential_id[]', micro_credential.id %>
            <%= micro_credential.identifier%>: <%= micro_credential.title%>
          </li>
        </ul>
      <% end %>
      <%= submit_tag 'Associate' %>
    <% end %>
  <% end %>

<% end %>

