<%= simple_form_for(@question) do |f| %>

  <%= f.error_notification %>

  <%= render 'layouts/detailed_error_messages', f: f%>

  <div class="form-inputs">
    <%= f.label :title, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :description, class: "col-sm-2 col-form-label"  %>
    <%= f.text_area :description, class: "form-control", rows: "3" %>

    <%= hidden_field_tag(:type , "MultipleChoice") %>

    <%= f.label :answers, class: "col-sm-2 col-form-label" %>

    <% i=1 %>

    <table>
      <% for answer in @answers %>
        <tr>
          <td>
            <%= radio_button_tag("quiz_question_choices[#{i}][correctindex]", "#{i}", answer.is_correct, :class=>"form-check-input", :name=>"optionsRadios")%>
            <%= text_field_tag "quiz_question_choices[#{i}][txt]", answer.txt, :size=>40 %>
          </td>
        </tr>
        <% i+=1 %>
      <%end %>
    </table>

    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
