<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, sti_question_path(question.type, question) %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "See all multiple choice questions", sti_question_path("multiple_choice") %>
<br>
<%= link_to "See all multiple select questions", sti_question_path("multiple_select") %>
<br>

<%= link_to 'See all question', sti_question_path %>

<br>

<%= link_to 'New Mutilple Choice Question', questions_new_multiple_choice_path, method: :post %>
