<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Creator</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr class="table-active">
      <td><%= link_to question.title, sti_question_path(question.type, question) %></td>
      <td><%= question.creator.full_name %></td>
      <td><%= link_to 'Edit', sti_question_path(question.type, question, :edit) %></td>
      <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>
<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to "See all multiple choice questions", sti_question_path("multiple_choice") %>
        <span class="badge badge-primary badge-pill"><%= @quetion_type_counts["MultipleChoice"] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to "See all multiple select questions", sti_question_path("multiple_select") %>
        <span class="badge badge-primary badge-pill"><%= @quetion_type_counts["MultipleSelect"] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to "See all fill in the blank questions", sti_question_path("fill_in_the_blank") %>
        <span class="badge badge-primary badge-pill"><%= @quetion_type_counts["FillInTheBlank"] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'See all question', sti_question_path %>
      </li>
    </ul>
  </div>

  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'New Mutilple Choice Question', sti_question_path("multiple_choice", nil, :new), method: :get %>

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'New Mutilple Select Question', sti_question_path("multiple_select", nil, :new), method: :get %>

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'New Fill in the Blank Question', sti_question_path("fill_in_the_blank", nil, :new), method: :get %>

      </li>
    </ul>
  </div>
</div>

<br>
