<h1>Question associated to course: <%= @course.title %></h1>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Used in course</th>
    <th scope="col">Creator</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <% course = question.course %>
    <tr class="table-active">
      <td>
        <%= link_to question.title, sti_question_path(question.type, question) %> <%=type_as_badge(question) %>
        <% for micro_credential in question.micro_credentials%>
          <br>
          <span class="badge badge-light"><%= micro_credential.identifier %>: <%= micro_credential.title %></span>
        <%end %>
      </td>
      <td><%= course.nil? ? "None" : course.title %> </td>
      <td><%= question.creator.full_name %></td>
      <td><%= link_to 'Edit', sti_question_path(question.type, question, :edit) %></td>
      <td><%= link_to 'Clone', questions_clone_path(:id => question.id), method: :post %></td>
      <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>
<div class="col-lg-4">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to 'New Multiple Choice Question', new_multiple_choice_path(:course_id =>@course.id) %>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to 'New Multiple Select Question', new_multiple_select_path(:course_id =>@course.id) %>

    </li>
  </ul>
</div>
