<div class="jumbotron">
  <h1 class="display-4"> <%= @question.title %> </h1>
  <p>  (<%= @question.type %>) Assigned to course:   <%= @course.nil? ? "None" : @course.title %></p>
  <p class="lead"><%= @question.description %></p>

  <p> Answers:</p>
  <% @answers.each do |answer| %>
    <%if answer.is_correct %>
      <li><p class="text-primary"><%= answer.txt %></p></li>
    <%else %>
      <li><p class="text-secondary"><%= answer.txt %></p></li>
    <% end %>
  <% end %>

  <hr class="my-4">

  <% if not @micro_credentials_required.empty?%>
    <p class="lead">Micro credentials: </p>
    <% @micro_credentials_required.each do |micro_credential|%>
      <span class="badge badge-dark"><%= micro_credential.identifier %>: <%= micro_credential.title %></span>
      <br>
    <% end %>
  <%end %>
  <p class="lead">Created by <%= @question.creator.full_name %></p>
</div>

<% if logged_in?(:admin) or logged_in?(:instructor) and current_user.owns(@question) %>
  <%= link_to 'Edit', sti_question_path(@question.type, @question, "edit")  %>
<% end %>
