<div class="jumbotron">
  <h1 class="display-3"> <%= @question.title %> </h1>
  <p>  (<%= @question.type %>) </p>
  <p class="lead"><%= @question.description %></p>

  <p> Answers:</p>
  <% @answers.each do |answer| %>
    <%if answer.is_correct %>
      <p class="text-primary"><%= answer.txt %></p>
    <%else %>
      <p class="text-secondary"><%= answer.txt %></p>
    <% end %>
  <% end %>

  <hr class="my-4">
  <p class="lead">Created by <%= @question.creator.full_name %></p>
</div>

<% if logged_in?(:admin) or logged_in?(:instructor) and current_user.owns(@question) %>
  <%= link_to 'Edit', sti_question_path(@question.type, @question, "edit")  %>
<% end %>
