<h1>Courses</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Created at</th>
    <th scope="col">Updated at</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr class="table-primary">
      <th scope="row"><%=button_to course.title, course, class: "btn btn-primary" %></th>
      <td> <%= time_ago_in_words(course.created_at) %> </td>
      <td> <%= time_ago_in_words(course.updated_at) %> </td>
      <td><%= button_to 'Edit', edit_course_path(course), class: "btn btn-primary", method: :get %></td>
      <td><%= button_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      <td><%= link_to 'Manage Registrations', courses_manage_registrations_path(:id => course.id), method: :get %> </td>
    </tr>
  <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>

<hr class="my-4">
<h1>Micro-credentials</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @micro_credentials.each do |micro_credential| %>
    <tr class="table-primary">
      <th scope="row"><%=micro_credential.identifier %>: <%=link_to micro_credential.title, micro_credential %></th>
      <td><%= link_to 'Edit', edit_micro_credential_path(micro_credential) %></td>
      <td><%= link_to 'Destroy', micro_credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<br>
<%= link_to 'New Micro Credential', new_micro_credential_path %>