<%= form_tag :controller => 'courses', :action => 'self_register_using_token', :method => 'post' do %>
  <%= hidden_field_tag 'user_id', current_user.id %>
  Have a course token? Self-register here: <%= text_field(:course, :token, size:20)%>
  <input type='submit' value='Add' class="btn btn-sm btn-secondary"/>
<% end %>

<h1>Courses</h1>
<% course_question_record = current_user.open_closed_questions_counts %>

<% @courses.each do |course| %>

  <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title"><%= course.title %></h4>
      <h6 class="card-subtitle mb-2 text-muted">Instructor: <%= User.find(course.creator_user_id).full_name %></h6>

      <% if not course.close_to_attempts.nil? %>
        <% if DateTime.now <= course.close_to_attempts%>
          <li>All questions close in <%= distance_of_time_in_words(DateTime.now, course.close_to_attempts)%></li>
        <% else %>
          <li>All questions close  <%= time_ago_in_words(course.close_to_attempts)%> ago</li>
        <% end %>
      <% end %>

      <% if not course.max_attempts.nil?%>
        <li>You can try each question up to <%= course.max_attempts%> time(s).</li>
      <% else %>
        <li>The number of attempts on each question is <em>unlimited</em>.</li>
      <% end %>

      <%= link_to "Review core competencies", micro_credentials_study_path(:course_id => course.id), class: "card-link"%>
      <% if not course.can_view_answers_after.nil? and DateTime.now>course.can_view_answers_after %>
        <a href="#" class="card-link">Review questions</a>
      <% end %>
    </div>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'Closed question(s)', attempts_path(:course_id => course.id, :category => "closed"), method: :get %>
        <span class="badge badge-primary badge-pill"><%= course_question_record.key?(course.id) ? course_question_record[course.id][:closed] : 0%></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'Open question(s)', attempts_path(:course_id => course.id, :category => "open"), method: :get %>
        <span class="badge badge-primary badge-pill"><%= course_question_record.key?(course.id) ? course_question_record[course.id][:open] : 0%></span>
      </li>
    </ul>

  </div>
  <hr class="my-4">

<% end %>


<br>