<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Created at</th>
    <th scope="col">Updated at</th>
    <th scope="col">Instructor</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr class="table-active">
      <th scope="row"><%=link_to course.title, course %></th>
      <td> <%= course.created_at %> </td>
      <td> <%= course.updated_at %> </td>
      <td> <%= User.find(course.creator_user_id).full_name %> </td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>