<!DOCTYPE html>
<html>
  <head>
    <title>User Page</title>
    <h1>See results below for your account:</h1>
    <h2>For help click here</h2>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>