<h1>Micro credential associated to course: <%= @course.title %></h1>

<h3> Micro credentials used in this course</h3>
<% if @used_micro_credentials.empty? %>
  <p><small>Empty</small></p>
<% end %>

<ul>
  <% for micro_credential  in @used_micro_credentials %>
    <li>
      <%= micro_credential.identifier%>: <%= micro_credential.title%>
      <%= link_to "dissociate",micro_credentials_dissociate_from_course_path(:id => micro_credential.id, :course_id => @course.id), method: :post %>
    </li>
  <% end %>
</ul>


<hr class="my-4">
<h3> Micro credentials avialable to be added to this course</h3>
<% if @available_micro_credentials.empty? %>
  <p><small>Empty. Please notice that, you cannot associate one micro-credential to two courses. Please use the <em>clone</em> existing micro-credentials if you need to.</small></p>
<% end %>

<%= form_tag :controller => 'micro_credentials', :action => 'associate_to_course', :method => 'post' do %>
  <%= hidden_field_tag(:course_id , @course.id) %>

  <% for micro_credential in @available_micro_credentials %>
    <ul>
      <li>
        <%= check_box_tag 'id[]', micro_credential.id %>
        <%= micro_credential.identifier%>: <%= micro_credential.title%>
      </li>
    </ul>
  <% end %>
  <%= submit_tag 'Associate' %>
<% end %>



