<h1>Micro credential associated to course: <%= @course.title %></h1>

<h3> Micro credentials used in this course</h3>
<ul>
  <% for micro_credential  in @used_micro_credentials %>
    <li>
      <%= micro_credential.identifier%>: <%= micro_credential.title%>
    </li>
  <% end %>
</ul>

<h3> Micro credentials avialable to be added to this course</h3>

<%= form_tag :controller => 'micro_credentials', :action => 'associate_to_course', :method => 'post' do %>
  <%= hidden_field_tag(:course_id , @course.id) %>

  <% for micro_credential in @available_micro_credentials %>
    <ul>
      <li>
        <%= check_box_tag 'id[]', micro_credential.id %>
        <%= micro_credential.identifier%>: <%= micro_credential.title%>
      </li>
    </ul>
  <% end %>
  <%= submit_tag 'Associate' %>
<% end %>



