
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-inputs">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-inputs">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
