<h1>Manage Student Registrations For: <%= @course.title %></h1>


<%= form_tag :controller => 'courses', :action => 'add_student_using_email', :method => 'post' do %>
  <label> Add new student by their email: </label>
  <%= hidden_field_tag(:id , @course.id) %>
  <%= text_field(:user, :email)%>
  <input type='submit' value='Add' class="btn btn-sm btn-secondary"/>
<% end %>

<br>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <% @course.users.each do |user| %>

    <tr>
      <th scope="row"><%= user.full_name %></th>
      <td><%= button_to 'Drop Student', courses_drop_student_path(:id => @course.id, :student_id => user.id), class: "btn btn-primary" %> </td>

    </tr>


  <% end %>
</table>
<div class = "media float-right position-relative">
<%= image_tag("logos/seahawk.jpg") %>
</div>