<h1>Manage Student Registrations For: <%= @course.title %></h1>


<%= form_tag :controller => 'courses', :action => 'add_student_using_email', :method => 'post' do %>
  <label> Add new student by their email: </label>
  <%= hidden_field_tag(:course_id , @course.id) %>
  <%= text_field(:User, :email)%>
  <input type='submit' value='Add' class="btn btn-sm btn-secondary"/>
<% end %>

<br>
<table>

  <% @course.users.each do |user| %>
	  <tr><td> <%= user.full_name %> </td></tr>
  <% end %>
</table>
