<h1>Manage Student Registrations For: <%= @course.title %></h1>


<%= form_tag :controller => 'courses', :action => 'add_student_using_email', :method => 'post' do %>
  <label> Add new student by their email: </label>
  <%= hidden_field_tag(:id , @course.id) %>
  <%= text_field(:user, :email)%>
  <input type='submit' value='Add' class="btn btn-sm btn-secondary"/>
<% end %>

<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <% counter = 0 %>
  <% @course.users.each do |user| %>
  	<% if counter.even? %> 
      <tr class="table-primary">
        <th scope="row"><%= user.full_name %></th>
        <td>Column content</td>
      
      </tr>
    <% else %> 
      <tr>
        <th scope="row"><%= user.full_name %></th>
        <td>Column content</td>
      
      </tr>
    <% end %>
    <% counter +=1 %>
  <% end %>
</table>


