<h1> <%=@display_category.capitalize %> questions in: <%=@course.title %> </h1>

<%= personal_attempt_history = current_user.question_taking_record @course%>

<% closed = @course.closed_to_attempts%>

<% if not @course.close_to_attempts.nil? %>
  <% if DateTime.now <= @course.close_to_attempts%>
    <h5><li>All questions close in <%= distance_of_time_in_words(DateTime.now, @course.close_to_attempts)%></li></h5>
  <% else %>
    <h5><li>All questions close  <%= time_ago_in_words(@course.close_to_attempts)%> ago</li></h5>
  <% end %>
<% end %>

<% if not @course.max_attempts.nil?%>
  <h5><li>You can try each question up to <%= @course.max_attempts%> time(s).</li></h5>
<% else %>
  <h5><li>The number of attempts on each question is <em>unlimited</em>.</li></h5>
<% end %>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Question title</th>
    <th scope="col">Type</th>
    <th scope="col">Updated</th>
    <th scope="col">Number of your attempts</th>
    <th scope="col">Action(s)</th>
  </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr class="table-active">
        <th scope="row"><%= question.title %></th>
        <td><%= question.type %></td>
        <td><%= time_ago_in_words(question.updated_at) %> ago</td>
        <td><%= personal_attempt_history[question.id] ? personal_attempt_history[question.id][:num_attempts]:0 %></td>
        <td>
          <% if closed %>
            <span style="font-size: 3em; color: Gray;">
              <%= fa_icon('window-close') %>
            </span>
          <% elsif personal_attempt_history.key?(question.id)%>
            <%-# if the course is not closed, check the question taking history and display icons %>
            <% if personal_attempt_history[question.id][:score] == 1%>
              <span style="font-size: 3em; color: Green;">
                <%= fa_icon('check-square') %>
              </span>
            <% else %>
              <span style="font-size: 3em; color: Tomato;">
                <%= fa_icon('times-circle') %>
              </span>
            <% end %>

            <%-# check if there is more attempts allowed %>
            <% if not @course.max_attempts.nil? and personal_attempt_history[question.id][:num_attempts] < @course.max_attempts%>
              <%= link_to 'Take', new_attempt_path(:course_id=>@course.id, :question_id=>question.id) %>
            <% end %>
            <%-# if there is no max_attempts: always allow more attempts %>
            <% if @course.max_attempts.nil?%>
              <%= link_to 'Take', new_attempt_path(:course_id=>@course.id, :question_id=>question.id) %>
            <% end %>

          <% else %>
            <%-# if this question is not closed, and the user has not tried this question before: allow attempts %>
            <%= link_to 'Take', new_attempt_path(:course_id=>@course.id, :question_id=>question.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr class="my-4">
<h5> Icon legend:</h5>

Latest attemp is correct:
<span style="font-size: 3em; color: Green;">
  <%= fa_icon('check-square') %>
</span>

Latest attempt is wrong:
<span style="font-size: 3em; color: Tomato;">
  <%= fa_icon('times-circle') %>
</span>

No more submussion allowed:
<span style="font-size: 3em; color: Gray;">
  <%= fa_icon('window-close') %>
</span>
