<h1> <%=@display_category.capitalize %> questions in: <%=@course.title %> </h1>

<%= personal_attempt_history = current_user.question_taking_record @course%>

<% closed = @course.closed_to_attempts%>
<% can_see_correct_answers = @course.can_see_correct_answers? %>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Question title</th>
    <th scope="col">Type</th>
    <th scope="col">Updated</th>
    <th scope="col">Number of submitted attempts</th>
    <th scope="col">Action(s)</th>
  </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr class="table-active">
        <th scope="row"><%= question.title %></th>
        <td><%= question.type %></td>
        <td><%= time_ago_in_words(question.updated_at) %> ago</td>
        <td><%= personal_attempt_history[question.id] ? personal_attempt_history[question.id][:num_attempts]:0 %></td>
        <td>
          <% if closed %>
            <%= render "closed_icon" %>
          <% end %>

          <% if show_correct_wrong_icon(personal_attempt_history, question)== :correct and can_see_correct_answers%>
            <%= render "correct_icon", :can_see_correct_answers => can_see_correct_answers, :question_id => question.id %>
          <% elsif show_correct_wrong_icon(personal_attempt_history, question)== :wrong and can_see_correct_answers%>
            <%= render "wrong_icon", :can_see_correct_answers => can_see_correct_answers, :question_id => question.id%>
          <% end %>

          <% if not can_see_correct_answers %>
            score is hidden
          <% end %>

          <% if show_take_link personal_attempt_history, question, closed, @course %>
            <%= link_to 'Take', new_attempt_path(:course_id=>@course.id, :question_id=>question.id) %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr class="my-4">
<h5> Icon legend:</h5>

Latest attemp is correct:
<span style="font-size: 3em; color: Green;">
  <%= fa_icon('check-square') %>
</span>

Latest attempt is wrong:
<span style="font-size: 3em; color: Tomato;">
  <%= fa_icon('times-circle') %>
</span>

No more submussion allowed:
<span style="font-size: 3em; color: Gray;">
  <%= fa_icon('window-close') %>
</span>
