<div class="jumbotron">
  <h1 class="display-4"> <%= @question.title %> </h1>
  <p>  (<%= @question.type %>) Assigned to course:   <%= @course.nil? ? "None" : @course.title %></p>
  <p class="lead"><%= simple_format h @question.description %></p>

  <% show_correct_answer = @course.can_see_correct_answers? %>
  <p> Answers:</p>
  <% @answers.each do |answer| %>
    <%if show_correct_answer and answer.is_correct %>
      <li><div class="text-primary"><%= simple_format h answer.txt %></div></li>
    <%else %>
      <li><div><%= simple_format h answer.txt %></div></li>
    <% end %>
  <% end %>

  <p> Your answer: </p>

  <%= simple_format h @question.type.constantize.answer_as_html(@attempt).html_safe %>

  <% if @attempt.score == 1 %>
    <%= render "correct_icon", :can_see_correct_answers => false, :question_id => @question.id %>
  <% else %>
    <%= render "wrong_icon", :can_see_correct_answers => false, :question_id => @question.id%>
  <% end %>

  <hr class="my-4">

  <% if not @micro_credentials_required.empty?%>
    <p class="lead">Micro credentials: </p>
    <% @micro_credentials_required.each do |micro_credential|%>
      <span class="badge badge-dark"><%= micro_credential.identifier %>: <%= micro_credential.title %></span>
      <br>
    <% end %>
  <%end %>

</div>

